html{
    scroll-behavior: smooth;
}

body{
    background-color: yellow;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
