html{
    scroll-behavior: smooth;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.navbar{
    background-color: greenyellow;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}
